h1 {
  font-family: 'Roboto Mono', monospace;
  font-size: 52px;
  text-align: center
}
h2{
  font-family: 'Suez One', serif;
  font-size: 32px;
  text-align: center
}
  
h3 {
  font-family: 'Suez One', serif;
  font-size: 24px;
  text-align: center
}
p {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  text-align: center
}
